/* --- Mise en page globale --- */
body {
  background-color: #F7F9FC; /* Fond gris très clair */
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 1.6;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  color: #2C3E50;
}

/* --- Le Conteneur (Centrage) --- */
.container {
  width: 500px;   /* Largeur fixe pour la carte */
  margin: 40px auto; /* Centre la carte horizontalement */
}

/* --- Modèle de boîte (Box Model) --- */
.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1); /* Ombre subtile */
  border-radius: 4px;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.img-circle {
  border-radius: 50%;
  object-fit: cover;
}

/* --- Composants spécifiques --- */
.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.btn-blue:hover {
  background-color: #4F56C4;
}

/* --- Liste des réseaux sociaux --- */
.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline i {
  font-size: 30px;
  color: #6B72E1;
}

.list-inline i:hover {
  color: #4F56C4;
}
